<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <add key="SyncInterval" value="10" />
      <add key="TimeServerURL" value="pool.ntp.org" />
    </appSettings>
</configuration>